<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DogChat - My Feed</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
</head>

<body>

    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item has-text-weight-bold is-size-4" href="https://bulma.io">
                DogChat
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">

            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light">
                            Log out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <h1 class="title">
                My Feed
            </h1>


            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{url_for('static', filename='melba_profile.png')}}" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Melba</strong> <small>@melba</small>
                                <br>
                            </p>
                            <form>
                                <div class="field">
                                    <div class="control">
                                        <textarea class="textarea" placeholder="New Message" rows=2></textarea>
                                    </div>
                                </div>

                                <div class="field is-grouped">
                                    <div class="control">
                                        <button class="button is-link">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
            </div>

            {% for post in posts %}
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{url_for('static', filename='melba_profile.png')}}" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Melba</strong> <small>@melba</small> <small>(July 4, 2021)</small>
                                <br>
                                {{post}}
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item" aria-label="like">
                                    <span class="icon-text">
                                        <span class="icon is-small">
                                            <i class="fas fa-heart"></i>
                                        </span>
                                        <span>15</span>
                                    </span>
                                </a>
                                <a class="level-item" aria-label="like">
                                    <span class="icon-text">
                                        <span class="icon is-small">
                                            <i class="fas fa-comment"></i>
                                        </span>
                                        <span>3</span>
                                    </span>
                                </a>
                            </div>
                        </nav>
                    </div>
                </article>
            </div>
            {% endfor %}

        </div>
    </section>

</body>

</html>